.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.content{
  padding: 40px;
}
.text{
  font-size: 18px;
}
.colmun{
  display: flex;
  flex-direction: column;
  width: 15%;
}
.colmun2{
  display: flex;
  flex-direction: column;
  width: 66%;
}
.clmn3{
  display: flex;
  flex-direction: column;
  width: 3%;
  margin: 0 0.5%;

}
.onlyder{
  display: flex;
  flex-direction: column;
}